{% extends "base.html" %} {% block title %}Buscar{% endblock %} {% block content
%}
<div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
  {% if lines %}
  <h2 class="text-2xl font-bold mb-4">Resultados:</h2>
  {% endif %}
  <ul>
    {% if lines %} {% for line in lines %}
    <li
      class="flex items-center bg-gray-700 rounded-lg shadow-md px-4 py-2 mb-4"
    >
      <div class="flex-shrink-0">
        <span class="mr-2">🚌</span>
      </div>
      <div class="flex items-center flex-grow ml-4">
        <h3 class="font-bold text-xl">Linha: {{ line.number }}</h3>
        <p class="text-gray-400 ml-4">{{ line.description }}</p>
      </div>
      {% if line.following %}
      <form method="POST" class="unfollow-form">
        <input type="hidden" name="line-number" value="{{ line.number }}" />
        <div id="line-{{ line.number }}">
          <button
            class="ml-4 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
          >
            Deixar de seguir
          </button>
        </div>
      </form>
      {% else %}
      <form method="POST" class="follow-form">
        <input type="hidden" name="line-number" value="{{ line.number }}" />
        <div id="line-{{ line.number }}">
          <button
            class="ml-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          >
            Seguir
          </button>
        </div>
      </form>
      {% endif %}
    </li>
    {% endfor %} {% else %}
    <h2 class="text-2xl font-bold mb-4">Nenhum ônibus encontrado.</h2>
    {% endif %}
  </ul>
</div>
{% endblock %} {% block script %}
<script>
  const followForms = document.querySelectorAll(".follow-form");
  const unfollowForms = document.querySelectorAll(".unfollow-form");

  followForms.forEach((form) => {
    form.addEventListener("submit", function (e) {
      e.preventDefault();
      const busLine = this.querySelector('input[name="line-number"]').value;
      const busLineId = `line-${busLine}`;

      const xhr = new XMLHttpRequest();
      const url = "/follow/";

      xhr.open("POST", url);
      xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
      xhr.send(`bus_line=${busLine}`);

      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
          var buttonDiv = document.getElementById(busLineId);
          buttonDiv.innerHTML = `
            <button
              class="ml-4 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
            >
              Deixar de seguir
            </button>
          `;
        } else {
          console.log(xhr.responseText);
        }
      };
    });
  });

  unfollowForms.forEach((form) => {
    form.addEventListener("submit", function (e) {
      e.preventDefault();
      const busLine = this.querySelector('input[name="line-number"]').value;
      const busLineId = `line-${busLine}`;

      const xhr = new XMLHttpRequest();
      const url = "/unfollow/";

      xhr.open("POST", url);
      xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
      xhr.send(`bus_line=${busLine}`);

      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
          var buttonDiv = document.getElementById(busLineId);
          buttonDiv.innerHTML = `
            <button
              class="ml-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            >
              Seguir
            </button>
          `;
        } else {
          console.log(xhr.responseText);
        }
      };
    });
  });
</script>
{% endblock %}
